body {
    background-image: url("../images/background.png");
}

header {
    height: 63px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    border-bottom: 3px #cccccc ridge;
}

.logo {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#about {
    padding-right: 20px; 
    text-decoration: none;
    color: #777777;
}

.image {
    margin-right: 20px;
    float: left;
}

#contact {
    border-left: lightgray 1px ridge;
    border-right: lightgray 1px ridge;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: #777777;
}

#name {
    width: 900px;
}

#email {
    width: 900px;
}


#submitB {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 20px 10px 20px;
}

#portfolio {
    padding-left: 20px;
    text-decoration: none;
    color: #777777;
}

.container {
    position: relative;
    margin: 20px;
    float: left;
}

.text-block {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 260px;
    height: 30px;
    background-color: #4aaaa5;
    padding-top: 10px;
    color: #ffffff;
}

h1{
    padding: 20px;
    background-color: #4aaaa5;
    width: fit-content;
    float: left;
    font-weight: bold;
    font-size: x-large;
}

nav {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.section1 {
    background-color: #ffffff;
    border: 3px ridge #dddddd;
    width: 914px;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
    margin-left: auto;
    margin-right: auto;
    color: #777777;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid #cccccc 3px;
    padding: 10px 0px 20px 0px;
    font-size: xx-large;
    font-weight: bold;
}

.main {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px 5px 20px 5px;
    font-size: larger;
    letter-spacing: 2px;
    line-height: 20px;
}

.name {
    font-style: italic;
    text-decoration: none;
    color: black;
}

.clearfix {
    overflow: auto;
    content: "";
    clear: both;
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0px 0px 0px;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: small;
}

.signature {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}